<!-- show.html.erb -->

<p>ID: <%= @teacher.id %></p>
<p>名前: <%= @teacher.name %></p>
<p>作成日: <%= date_format(@teacher.created_at, '%Y年 %m月 %d日') %></p>
<p>更新日: <%= date_format(@teacher.updated_at, '%Y年 %m月 %d日') %></p>
